*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(9.jpg)fixed center;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}
.log{
    margin-left: 40px;
    margin-right: 100px;
    margin-top: 20PX;
    width: 300px;
}
.logfoot{
  position: absolute;
  margin-left: 990px;
  margin-right: 0px;
  margin-top: 350PX;
  width: 200px;
}
header {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(9.jpg)fixed center;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    width: 100%;
    height: 10vh;
    background: rgba(0, 0, 0, 0.329);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-transform: uppercase; */
  }

.navbar{
    width: 1300px;
    height: 75px;
    margin: auto;
    border-radius: 11px;
}
#sideNav{
    width: 200px;
    height: 60vh;
    position: fixed;
    right: -250px;
    top: 100px;
    margin-right: 25px;
    background:linear-gradient(to top, rgba(0, 0, 0, 0.7)50%,rgba(0,0,0,0.7)50%), url(9.jpg)fixed center;
    z-index: 1;
    border-radius: 30px 30px;
    transition: .6s;
}
.sidebars:hover{
    transition: all .2s ease 0s;
        background-color:#bac5256c;
  
  }
  .carddev{ 
    position: absolute;
    margin-top: 700px;
    width: 1000px;
    margin-left: 130px;
  
  }
  .active:hover{
    transition: all .2s ease-in-out .1s;
    background-color: #555;
    text-shadow:#bac525;
    border-radius: 5px;
    transition-delay: 0ms;
    
  }
  .active1:hover{
    transition: all .2s ease 0s;
    background-color: #555;
    text-shadow:#bac525;
    border-radius: 5px;
    transition-delay: 0ms;
    
  }.active2:hover{
    transition: all .2s ease 0s;
    background-color: #555;
    text-shadow:#bac525;
    border-radius: 5px;
    transition-delay: 0ms;
    
  }.active3:hover{
    transition: all .2s ease 0s;
    background-color: #555;
    text-shadow:#bac525;
    border-radius: 5px;
    transition-delay: 0ms;
    
  }.active4:hover{
    transition: all .2s ease 0s;
    background-color: #555;
    text-shadow:#bac525;
    border-radius: 5px;
    transition-delay: 0ms;
    
  }.active5:hover{
    transition: all .2s ease 0s;
    background-color: #555;
    text-shadow:#bac525;
    border-radius: 5px;
    transition-delay: 0ms;
  }

  .active1{
    transition: all .2s ease-in-out .1s;
    background-color: rgba(85, 85, 85, 0.171);
    border-radius: 5px;
    transition-delay: 0ms;
  }

nav ul{
    float: left;
    display: grid;
    list-style: none;
    margin: 30px 20px -20px;
}
#menubtns{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #bac525;
    font-size: 28px;
    font-family: Arial;
    padding-left: 40px;
    width: 1000px;
    float: left;
    padding-top: 5px;
    margin-top: 15px
}

.menu{
    width: 350px;
    float: left;
    height: 70px;
}

ul {
    float: left;
   display: flex;
   justify-content: center;
   align-items: center;
}
.navbar ul li{
 padding: 7px 13px;
 border-radius: 5px;
}
#sideNav ul li{
 padding: 7px 13px;
 border-radius: 20px;
}
.navbar ul li{
   list-style: none;
   margin-left: 27px;
   margin-top: 24px;
   font-size: 14px;
}
#sideNav ul li{
 list-style:none;
 margin-left: 18px;
 margin-top: 12px;
 font-size: 14px;
}
.navbar ul li a{
 text-decoration: none;
 color: rgba(255, 255, 255, 0.541);
 font-family: Arial;
 font-weight: bold;
 transition: 0.4s ease-in-out;
}

#sideNav ul li a{
   text-decoration: none;
   color: rgba(255, 255, 255, 0.452);
   font-family: Arial;
   font-weight: bold;
   transition: 0.4s ease-in-out;
}

ul li a:hover{
 transition: all .5s ease 0s;
   transition: 0.5s ease;
   color: #bac525;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
    color: #000;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid#bac525;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background:#bac525;
    border: 2px solid #bac525;
    margin-top: 13px;
    color: black;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    transition: all .5s ease 0s;
      color:rgba(0,0,0,0.5);
  }

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}
.hrline{
    position: absolute;
    margin-left: 120px;
    margin-top: 20px;
    color: #bac525;
    width: 1120px;
  }
* About */

#about{
    padding: 100px 0;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}
.about-left-col{

    padding-left: 90px;
}
.about-left-col img{
    position: absolute;
    width: 490px;
    transition: 0.2s ease;
    cursor: pointer;
    margin-top: -350px;
    padding-left: 560px;
    padding-bottom: 10px;
    cursor: rgb(11, 13, 24);
}
.about-right-col{
    flex-basis: 50% ;
}
.pars{
    font-weight: normal;
    text-align: center;
    font-size: 14px;
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.2px;
    line-height: 28px;
  }

/* Features */
#features{
    padding-top: 250px;
    padding-bottom: 50px;

}
.feature-row{
    width: 80%;
    color:#b9bac09d;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.feature-col{
    flex-basis: 25%;
    text-align: center;
}
.feature-col img{
    width: 120px;
} 
.feature-col h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #9ac525;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400px;
}

.content{
    width: 1000px;
    height: 70px;
    margin: 70px;
    color: #fff;
    position: relative;
}

.content .par{
    font-size: 14px;
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 45px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 45px;
    background:#bac525;
    border: none;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
    margin-left: 20px;
}



.content .cn{
    width: 160px;
    height: 45px;
    background:#bac525;
    border: none;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
    margin-left: 20px;
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color:#bac525;
    font-size: 50px
}
 /* members */
 .content1{
  
  width: 1000px;
  height: 70px;
  margin: 70px;
  color: #fff;
  position: relative;
  margin-left: 90px;

}

.content1 .par{
  font-size: 14px;
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.content1 h1{
  font-family: 'Times New Roman';
  font-size: 45px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
}

.content1 .cn{
  width: 160px;
  height: 45px;
  background:#bac525;
  border: none;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s ease;
  
  margin-left: 20px;
}



.content1 .cn{
  width: 160px;
  height: 45px;
  background:#bac525;
  border: none;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s ease;
  
  margin-left: 20px;
}

.content1 .cn a{
  text-decoration: none;
  color: #000;
  transition: .3s ease;
}

.cn:hover{
  background-color: #fff;
}

.content1 span{
  color:#bac525;
  font-size: 50px
}


.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
} 

.subicon{
  margin-top: 2400px;
}
 section {

      padding: 2rem 10%;
 }
    .subjects .box-container {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (minmax(9rem, 1fr))[auto-fit];
          grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    }
    
    .subjects .box-container .box {
      text-align: center;
      background: transparent;
      cursor: move;
    }
    
    .subjects .box-container .box:hover h3 {
      color:rgb(11, 13, 24);
    }
    
    .subjects .box-container .box:hover p {
      color:rgb(11, 13, 24);
    }
    
    .subjects .box-container .box img {
      height: 10rem;
      margin-bottom: .7rem;
    }
    
    .subjects .box-container .box h3 {

      font-size: 1.7rem;
      text-transform: capitalize;
      color:rgba(211, 195, 195, 0.877);
      padding: .5rem 0;
    }
    
    .subjects .box-container .box p {
      font-size: 1.5rem;
      line-height: 2;
      color:transparent;
    }
  
    .ifraimg{
        box-shadow: 0 0 20px -4px #84858a71;
        border-radius: 30px;
        position: absolute;
        border-color: transparent;
        margin-top: 10px;
        margin-left: 90px;
        width: 1150px;
        height: 550px;
      }
      
.memb{
    font-size:10px;
  }
  .memimg{
    width:230px;
    position: absolute;
    margin-left:900px ;
    margin-top: 160px;
    border-radius: 2px;
  }
  .membs{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.par1{
    font-size: 14px;
    padding-left: 30px;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    letter-spacing: 1.2px;
    line-height: 30px;
  }

  .h1{
    font-family: 'Times New Roman';
    font-size: 47px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}


.clgpri{
    border: #fff;
    border-width: 20px;
    border-color: #fff;
    width: 120px;
    border-radius: 50%;
    position:absolute;
    margin-top: 50px;
    margin-left: 350px;
  }
  
  .clgpri2{
    width: 110px;
    border-radius: 50%;
    position:absolute;
    margin-top: 50px;
    margin-left: 180px;
  }

/* Box */


.containers{

    text-align: center;
    position: relative;
    width: 1000px;
    margin:20px 160px;
  
  }
  .containers .no{
    font-size: 22px;
    color: #fff;
  }
  .no1{
    font-size: 10px;
    color: #fff;
  }

.containers .box1{
  font-size: small;
  text-align: center;
  position: sticky;
  height: 410px;
  width: 450px;
  width: calc(400px -200px);
  height: calc(400px -200px);
  background: rgba(0, 0, 0, 0.226);
  float: left;
  margin: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 20px -4px #84858a71;
} 


.messages{
  margin-top: 300px;
  margin-left: 60px;
}

/* principal */
.prin{

    background: rgba(85, 85, 85, 0.384);
    padding: 9px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 12px;
    color: #bac525bd;
  
  }
  
  .prinimgs{
    width: 200px;
  
  }
  .prin:hover{
    color:#bac52579;
    transition: .1s ease-in;
    font-family: 'Times New Roman';
  }
  .parainfo{
    font-size: 11px;
    color: rgb(182, 180, 180);
    font-style: oblique;
  }
  
  .hovfacility{
    background: rgba(85, 85, 85, 0.199);
    padding: 7.5px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 12px;
    color: #bac525bd;
  
  }
  .hovfacility:hover{
    color:#bac52579;
    transition: .1s ease-in;
    font-family: 'Times New Roman';
  
  }
/* courses */

.courses{
  margin-top: 0px;
  margin-left: 00px;
}
.abts img{
  position: absolute;
  margin-top: 310px;
  width: 400px;
  margin-left: -320px;
  transition: 0.2s ease;
  cursor: pointer;
  cursor: rgb(11, 13, 24);
  transition: .4s ease;
} 
.courseswe{
  margin-top: -1440px;
  margin-left: 20px;
}

.msc{
  margin-top: 30px;
  margin-left: -800px;
  position: absolute;
  width: 90px;

}
.lang{
  margin-top: 35px;
  margin-left: -540px;
  position: absolute;
  width: 90px;

}
.mcom{
  margin-top: 35px;
  margin-left: -280px;
  position: absolute;
  width: 90px;
}
.containers1 .no{
  margin-top: 30px;
  font-size: 19px;
  color: wheat;
}
.containers1 .box{
  font-size: small;
  text-align: center;
  position: sticky;
  height: 320px;
  width: 250px;
  width: calc(400px -200px);
  height: calc(400px -200px);
  background: rgba(0, 0, 0, 0.212);
  float: left;
  margin: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px -4px #7a7e9467;
}
.containers1{
  
  text-align: center;
  position: absolute;
  width: 1000px;
  height: 220px;
  margin:20px 160px;
  margin-top: 2000px;

}


.contentt .par{
  font-size: 14px;
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.contentt h1{
  margin-top: 5000px;
  font-family: 'Times New Roman';
  font-size: 45px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
}

.contentt .cn{
  width: 160px;
  height: 45px;
  background:#bac525;
  border: none;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s ease;

  margin-left: 20px;
}

.contentt .cn a{
  text-decoration: none;
  color: #000;
  transition: .4s ease;
}

.contentt span{
  color:#bac525;
  font-size: 50px
}
.contentt{
width: 1000px;
height: 70px;
margin: 70px;
color: #fff;
position: relative;
}

/* foot */

.ifrafoot{
  position: absolute;
  border-radius: 20px;
  border-color: transparent;
  margin-top:   150px;
  margin-left: 35px;
  width: 1290px;
  height: 370px;
}
